@charset "utf-8";

/* 한국어 */

@font-face {
    font-family: 'Noto Sans';
    src: url('https://cdn.jsdelivr.net/gh/webdesignfarm/font/NotoSansKR-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('https://cdn.jsdelivr.net/gh/webdesignfarm/font/NotoSansKR-Black.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body,h1,h2,h3,h4,h5,h6,p,div,li,dt,dd,input,textarea,button{font-family: "Noto Sans","Nanum Gothic","Malgun Gothic",sans-serif;}
